 body{
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    ;
}
.blink7{
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    margin-left: 400px;
    font-family: Pacifico, cursive;
    font-style: italic;
    position: absolute;
    left: 50px;
    top: 100px;
   
 }

strike{
    color: pink;
    
}

.button-link{
    display: inline-block;
    background-color: pink;
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
    padding: 10px 20px;
    /* border-radius: 5px; */
    top: 200px; 
    left: 650px;
    width: 100px;
    height: 50px;
    font-size: large;
}
span{
    position: relative;
    bottom: -15px;
}

div{
    position: relative;
    top: 200px;
   
}
.question-1{
    font-family: Pacifico/* , cursive; */;
    font-size: 2.5em;
    font-style: italic;
    position: relative;
    top: 300px; 
    left: 0px;
    width: 100px;
    height: 50px;
    text-align: center;
    display: inline;
}


.question-2{
    font-family: Pacifico/* , cursive; */;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-style: italic;
    position: relative;
    top: 300px; 
    left: 0px;
    width: 100px;
    height: 50px;
    text-align: center;
    display: inline;
}
.question-3{
    font-family: Pacifico/* , cursive; */;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-style: italic;
    position: relative;
    top: 300px; 
    left: 0px;
    width: 100px;
    height: 50px;
    text-align: center;
    display: inline;
}
.question-4{
    font-family: Pacifico/* , cursive; */;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-style: italic;
    position: relative;
    top: 300px; 
    left: 0px;
    width: 100px;
    height: 50px;
    text-align: center;
    display: inline;
}
.question-5{
    font-family: Pacifico/* , cursive; */;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-style: italic;
    position: relative;
    top: 300px; 
    left: 0px;
    width: 100px;
    height: 50px;
    text-align: center;
    display: inline;
}

#qwe {
    transform:scale(1.7);
    opacity:0.9;
    cursor:pointer;
    }
    label {
        display: block;
        padding: 10px;
        margin: 5px 0;
        border-radius: 10px;
        transition: background-color 0.3s;
    }
    /* Подсветка выбранного элемента */
input[type="radio"]:checked + label {
    background-color: #ffd1dc; /* светло-розовый фон */
    font-weight: bold;         /* жирный текст */
}
.answers-1{
   
    position: relative;
    display: inline-flex;
    padding: 100px 0 100px 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
.answers-2{
    
     position: relative;
     display: inline-flex;
     padding: 100px 0 100px 100px;
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 1.5em;
 }
 .answers-3{
    
     position: relative;
     display: inline-flex;
     padding: 100px 0 100px 100px;
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 1.5em;
 }
 .answers-4{
    
     position: relative;
     display: inline-flex;
     padding: 100px 0 100px 100px;
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 1.5em;
 }
 .answers-5{
  
     position: relative;
     display: inline-flex;
     padding: 100px 0 100px 100px;
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 1.5em;
 }
 p{
    text-align: left;
}
@-webkit-keyframes pulsate {
    50% { color: black; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
   }
   @keyframes pulsate {
    50% { color: black; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
   }
   
   .blink7 {
     color: black;
     text-shadow: 0 -1px rgba(0,0,0,.1);
     -webkit-animation: pulsate 1.2s linear infinite;
     animation: pulsate 1.2s linear infinite;
   }

   .result-button {
    background: linear-gradient(
        270deg,
        #FFC0CB, 
        #FF97BB, 
        #FF77FF,
        #FF47CA, 
        #FF00CC, 
        #FF43A4, 
        #FC89AC  
      );
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 70px;

    -webkit-animation: rainbow 8s ease infinite;
    animation: rainbow 3s ease infinite;
    background-size: 1400% 1400%; /* увеличим область, чтобы градиент «ездил» */
 
}

/* Две версии keyframes — для широкого покрытия браузеров */
@-webkit-keyframes rainbow {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes rainbow {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#result{
     display: none;          
     text-align: center; 
     margin-top: 30px; 
     font-size: 24px; 
     font-weight: bold;
     padding-bottom: 200px;
     margin-left: 500px;

}
#fruitImage{
    margin-right: 500px;
}
      